 button {
   margin-left: 100px;
   width : 88px;
   height: 36px;
   margin-bottom: 2rem;
   border-radius: 6px;
   font-size: 14px
 }
 .default {
 
 }
 .hover:hover {
     background-color: darkgray;
     border: none;

 }
 .outline {
   border:#3D5AFE 1px solid;
   color :#3D5AFE;
   background-color: white;
 }
 .outline-hover:hover {
     background-color:rgba(41, 98, 255, 0.1);
 }
 .hover-focus:hover{
   border: none;
   color: #3D5AFE;
 }
 .variant-text {
   border: none;
 }
 .disable-border {
   background-color:rgba(224, 224, 224, 1);
   color :grey;
   border: none;
   
 }
 .disable-background {
   color : rgba(158, 158, 158, 1);
   background-color: white;
   border: none;
 }
 .disableShadow {
  background: rgba(61, 90, 254, 1);
  color: white;
  border: none;
 }
 .sm {
  background: rgba(41, 98, 255, 1);
  color: white;
  border: none;
  width: 73px;
  height: 32px;
 } 
 .md {
  width: 81px;
  height: 36px;
 }
 .lg {
  width: 93px;
  height: 42px;
 }
 .secondary {
  background: rgba(69, 90, 100, 1);
  width : 104px;
  height: 36px;
 }
 .danger {
  background: rgba(211, 47, 47, 1);
 }